<!-- fix title for URL -->
<% @resultArray.each do |movieObject|
		ammendedTitle = movieObject["Title"].dup
		if ammendedTitle.include? " "
			ammendedTitle = ammendedTitle.gsub!(" ", "+")
		end
		if ammendedTitle.include? "'"
			ammendedTitle = ammendedTitle.gsub!("'", "%27")
		end 
		movieObject["URLtitle"] = ammendedTitle
	end 
		%>

<h1><%= params[:titleBrowse] %></h1>



<h1>Titles Related to "<%=@search%>"</h1>

<ul>
<%	@resultArray.each do |movie| %>
	
	<a href="/about/<%= movie["imdbID"] %>">
		<li name="titleSearch"> <%= movie["Title"] %> </li>
	</a>
 <% end %>

</ul>

	<%=@resultArray%>
<!-- generates dynamic url but about/ page not working like this at the moment

	ID NUMBER
 -->
