<%= params[:titleSearch] %>

<h1><%=@movie_title %></h1>

<p>Released:</p>

<h2><%= @movie_year %></h2>

<p>Stars:</p>

<h2><%= @movie_stars%></h2>

 <p>SYNOPSIS:</p>

<p><%= @movie_plot %></p>

<img src="<%= @movie_posterURL %>">

<p><%= @result %></p>

<form action="/title/save" method="post" value="<%= params[:titleSearch] %>">
	<button name="store">STORE</button></form>

<%	





%>